/*--------------- Main Styles ---------------------*/
/** Common & Reset style **/
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	background: #f5f5f5;
	font-family: 'proxima_nova_rgregular', 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #515151;
	line-height: normal;
}


*, *:after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* comon style */
h1, h2, h3, h4, h5, h6{
	font-family: 'proxima_nova_rgregular', sans-serif;
	margin: 0 0 16px;
	line-height: 1;
	font-weight: normal;
}

a{
	color: inherit;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a:active,
a:focus,
a:hover{
	outline: 0;
	color: #9fbb58;
	text-decoration: none;
}

ul li,
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

h1{
	font-size: 34px;
	line-height: 1.2;
	font-weight: normal;
}

h2{
	font-size: 24px;
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 18px;
}

p{
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	margin-bottom: 16px;
}

img{
	max-width: 100%;
}

.form-group{
	position: relative;
	background: none;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
}

button{
	border: none;
}

label{
	font-weight: normal;
	display: block;
}

textarea, select, input{
	font-family: 'proxima_nova_rgregular';
	background: #fff;
	border: 1px solid #fff;
	border-radius: 0;
	height: 40px;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	padding: 8px 10px;
	box-shadow: none;
	font-size: 20px;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
}
textarea{
	height: auto;
	min-height: 100px;
}

textarea:focus, select:focus, input:focus{
	border-color: #65972c;
	outline: none;
	box-shadow: none;
}

input[type="submit"],
.button{
	font-family: 'proxima_nova_rgregular';
	background: #9fbb58;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	font-weight: 300;
	text-align: center;
	padding: 8px 15px;
	border-radius: 0;
	border: none;
	height: 40px;
	box-shadow: none;
	width: auto;
	min-width: auto;
	text-transform: uppercase;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover{
	background: #65972c;
	color: #fff;
	outline: none;
	box-shadow: none;
}

input[type="checkbox"], 
input[type="radio"] {
	box-sizing: border-box;
	display: inline-block;
	padding: 0;
	vertical-align: baseline;
	width: auto;
	height: auto;
	margin: 2px 5px 0 0;
	outline: none;
}
input[type="file"]{
	border: none;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="file"]:active,
input[type="checkbox"]:active, 
input[type="radio"]:active,
input[type="file"]:focus,
input[type="checkbox"]:focus, 
input[type="radio"]:focus{
	outline: none;
}


::-webkit-input-placeholder { color: #b8b0b0; opacity: 1; }
:-moz-placeholder { color: #b8b0b0; opacity: 1; }
::-moz-placeholder { color: #b8b0b0; opacity: 1; }
:-ms-input-placeholder { color: #b8b0b0; opacity: 1; } 

/** select **/
select{
	background: url(../images/select_arrow2.png) no-repeat center right #fff;
	padding-right: 38px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
select option{
	padding: 5px 10px;
}


/** custom checkbox **/
.custom_checkbox{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.custom_checkbox [type="checkbox"]:not(:checked),
.custom_checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
	outline: none !important;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label,
.custom_checkbox [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}
.custom_checkbox [type="checkbox"]:checked + label{
	color: #65972c;
}

/* checkbox aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:before,
.custom_checkbox [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 0px;
	width: 20px; height: 20px;
	border: 1px solid #d8d8d8;
	background: #eee;
	border-radius: 3px;
	box-shadow: none;
	outline: none !important;
}
.custom_checkbox [type="checkbox"]:checked + label:before {
	background: #65972c;
	border-color: #65972c;
}

/* checked mark aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after,
.custom_checkbox [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 2px; left: 3px;
	font-size: 20px;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	outline: none !important;
}

/* checked mark aspect changes */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom_checkbox [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

/* disabled checkbox */
.custom_checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.custom_checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom_checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom_checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}

/* accessibility */
.custom_checkbox [type="checkbox"]:checked:focus + label:before,
.custom_checkbox [type="checkbox"]:not(:checked):focus + label:before {
	border-color: #65972c;
}

/* hover style just for information */
.custom_checkbox label:hover:before {
	border: 1px solid #4778d9!important;
}

/** input file **/
.btn_file{
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.inputfile{
	cursor: pointer;
    height: 80%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}



/*** To start style ***/
.container{
	position: relative;
	max-width: 1120px;
}

.sec_block:after,
.sec_block:before,
.wrap:after,
.wrap:before,
section:after,
section:before,
header:after,
header:before,
footer:before,
footer:after{
	content: "";
	clear: both;
	display: table;
}

.sec_block,
section,
header,
footer{
	display: block;
	clear: both;
}

/** header **/
#header{
	position: relative;
	background: none;
}

.head{
	position: relative;
	display: inline-block;
	width: 100%;
	background: #fff;
	height: 130px;
	padding: 20px 0;
}

.head .logo{
	display: block;
	float: left;
	width: 100%;
	max-width: 400px;
}
.head .logo a{
	display: block;
}
.head .logo a img{
	display: block;
	width: 100%;
}

/** login_access **/
.login_access{
	display: inline-block;
	padding: 30px 0 20px;
	text-align: right;
	float: right;
}

.login_access .veba_login{
	background: url(../images/login_bg.png) no-repeat right top #9fbb58;
	font-family: 'proxima_nova_rgregular', sans-serif;
	display: block;
	height: 35px;
	width: 280px;
	text-align: center;
	padding: 10px 40px 10px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	line-height: 1;
}

/** main_menu **/
.main_menu{
	background: rgba(113, 128, 135, 0.7);
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	color: #fff;
	text-align: center;
	z-index: 100;
}
.main_menu .navbar-collapse{
	padding: 0;
}
.main_menu .navbar{
	margin-bottom: 0;
	background: none;
    border: medium none;
    border-radius: 0;
    text-align: center;
    min-height: 30px;
}
.main_menu .navbar .nav{
	float: none;
}
.main_menu .navbar-nav > li{
	float: none;
	display: inline-block;
}
.main_menu .navbar-default .navbar-nav > li > a{
	font-family: 'proxima_nova_rgregular';
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	padding: 20px 30px;
}
.main_menu .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	background: #9fbb58;
}

/** banner **/
.banner{
	background-image: url(../images/banner_img1.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 570px;
	position: relative;
	width: 100%;
	padding: 100px 0 70px;
}



/** footer **/
.footer{
	background: #718087;
	color: #fff;
	position: relative;
	padding: 60px 0 20px;
	text-align: center;
}

.footer_item{
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 500px;
	text-align: left;
	margin: 0 auto 40px;
}
.footer_title{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.footer_title h2{
	font-family: 'proxima_nova_rgregular';
	margin-bottom: 0;
	font-size: 22px;
}

.footer_item .footer_desc{
	display: inline-block;
	width: 100%;
}

.footer_desc,
.footer_desc a,
.footer_desc li,
.footer_desc p{
	font-family: 'karminaregular';
	font-size: 17px;
	line-height: 1.5;
}

.footer_item .button,
.footer_item .input{
	height: 44px;
	padding-top: 10px;
}
.footer_item .button{
	width: 170px;
	max-width: 100%;
}

.add_map{
	display: inline-block;
	width: 100%;
}
.add_map img,
.add_map iframe{
	display: block;
	width: 100% !important;
	height: auto;
}

