
@font-face {
    font-family: 'karminaregular';
    src: url('../fonts/ufonts.com_karmina-regular-opentype-webfont.eot');
    src: url('../fonts/ufonts.com_karmina-regular-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_karmina-regular-opentype-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_karmina-regular-opentype-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_karmina-regular-opentype-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_karmina-regular-opentype-webfont.svg#karminaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proximanova/proximanova-black-webfont.eot');
    src: url('../fonts/proximanova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-black-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-black-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-black-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/proximanova/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}