@media only screen and (min-width:992px){}
@media (min-width: 992px) and (max-width: 1199px){
	.footer_title h2{
		font-size: 20px;
	}
	.footer_desc, .footer_desc a, .footer_desc li, .footer_desc p{
		font-size: 16px;
	}
	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 18px 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.footer_title h2{
		font-size: 20px;
	}
	.footer_desc, .footer_desc a, .footer_desc li, .footer_desc p{
		font-size: 16px;
	}

	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 18px 8px 16px;
		font-size: 15px;
	}
}
@media only screen and (max-width: 767px){
	.container{
		width: 100%;
	}

	.main_menu .navbar .nav{
		margin: 7.5px 0;
	}
	.main_menu .navbar-nav > li{
		display: block;
		text-align: left;
	}
	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 5px 15px;
		font-size: 15px;
	}
	
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle{
		border: none;
		padding: 10px;
		background: #9fbb58;
		outline: none;
	}
	.navbar-default .navbar-toggle:hover{
		background: #65972c;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background: #fff;
	}
}