@media only screen and (min-width:992px){}

@media (min-width: 992px) and (max-width: 1199px){
	.footer_title h2{
		font-size: 20px;
	}
	.footer_desc, .footer_desc a, .footer_desc li, .footer_desc p{
		font-size: 16px;
	}
	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 18px 20px;
	}

	.help_item .help_item_title h2{
		font-size: 28px;
	}
	.about_block_title a, .about_block_title h1{
		font-size: 62px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.footer_title h2{
		font-size: 20px;
	}
	.footer_desc, .footer_desc a, .footer_desc li, .footer_desc p{
		font-size: 16px;
	}

	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 18px 12px 16px;
		font-size: 13px;
	}
	.main_menu ul.navbar-nav li .sub-menu a,
	.main_menu ul.navbar-nav li ul a{
		font-size: 13px;
	}

	.help_item .help_item_title{
		height: 135px;
	}
	.help_item .help_item_title h2{
		font-size: 22px;
	}

	.head .logo{
		max-width: 320px;
		margin-top: 5px;
	}

	.about_block_title a, .about_block_title h1{
		font-size: 54px;
	}
	.post_title h2 {
	    font-size: 24px;
	}

	.post_desc p {
	    font-size: 16px;
	    margin-bottom: 20px;
	}

	.about_block_desc{
		padding: 30px 0 0 15px;
	}
	.about_block_title{
		padding-top: 30px;
	}

	.post_content > .sec_desc,
	.contact_form{
		padding-right: 0;
	}
}

@media only screen and (max-width: 767px){
	.container{
		width: 100%;
	}

	.head{
		height: auto;
	}

	.login_access,
	.head .logo{
		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;
		max-width: 100%;
	}
	.head .logo a {
	    display: inline-block;
	    max-width: 370px;
	}

	.login_access .veba_login{
		display: inline-block;
	}

	.is-sticky .main_menu,
	.main_menu{
		background: rgba(113, 128, 135, 0.9);
	}

	.main_menu .navbar .nav{
		margin: 7.5px 0;
	}
	.main_menu .navbar-nav > li{
		display: block;
		text-align: left;
		margin-right: 0;
		float: none;
	}
	.main_menu .navbar-default .navbar-nav > li > a{
		padding: 6px 15px;
		font-size: 16px;
	}

	.main_menu ul.navbar-nav li .sub-menu a:hover,
	.main_menu ul.navbar-nav li .sub-menu li.current-menu-item > a,
	.main_menu .navbar-default .navbar-nav > li.current-menu-item > a,
	.main_menu .navbar-default .navbar-nav > li > a:hover{
		background: none !important;
		color: #9fbb58 !important;
	}

	.main_menu ul.navbar-nav li:hover .sub-menu, 
	.main_menu ul.navbar-nav li:hover ul{
		background: none;
	}
	
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle{
		border: none;
		padding: 10px;
		background: #9fbb58;
		outline: none;
	}
	.navbar-default .navbar-toggle:hover{
		background: #65972c;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background: #fff;
	}

	.main_menu ul.navbar-nav li.menu-item-has-children > a:before{
		display: none !important;
	}

	.main_menu ul.navbar-nav li .sub-menu,
	.main_menu ul.navbar-nav li ul{
		background: none;
	    box-shadow: none;
	    left: auto;
	    margin: 0;
	    opacity: 1;
	    padding: 0;
	    position: relative;
	    top: auto;
	    visibility: visible;
	    width: 100%;
	}
	.main_menu ul.navbar-nav li .sub-menu a,
	.main_menu ul.navbar-nav li ul a{
		color: #fff;
		padding: 5px 30px;
	}

	.page_title h1{
		font-size: 60px;
		line-height: 1;
	}

	.help_item{
		margin-bottom: 40px;
	}

	.members_container .col-sm-4,
	.sch_asn_docs .col-sm-6,
	.about_block .col-md-5,
	.hch_desc .col-sm-4{
		border: none;
	}

	.about_block.row_rtl .col-md-5{
		float: none;
		border: none;
	}

	.about_block_desc {
	    display: block;
	    margin: 0 auto;
	    max-width: 500px;
	    padding-left: 0;
	    padding-top: 30px;
	    text-align: left;
	    width: 100%;
	}

	.school_sidebar,
	.about_block_title {
	    display: block;
	    max-width: 400px;
	    padding: 30px 5px;
	    text-align: center;
	    vertical-align: middle;
	    width: 100%;
	    margin: 0 auto;
	}
	.school_sidebar{
		padding: 30px;
	}

	.school_login{
		width: 100%;
	}
	.about_block_title a, .about_block_title h1{
		font-size: 66px;
	}

	.sch_asn_docs hr{
		display: none;
	}

	.post_content > .sec_desc,
	.contact_form{
		padding-right: 0;
	}

	.sidebar, .contact_sidebar{
		padding-left: 0;
		border-left: none;
	}

	p{
		font-size: 16px;
	}

	.widget p, 
	.sidebar_desc p, 
	.sidebar_desc,
	.widget ul li{
		font-size: 16px;
		line-height: 1.6;
	}

	.veba_sec_title.bdr_none{
		margin-bottom: 0;
	}

	.pad_tb100{
		padding-bottom: 50px;
		padding-top: 50px;
	}

	.display_flex{
		display: block;
	}

}

@media only screen and (max-width: 480px){
	.about_block_title a, .about_block_title h1{
		font-size: 50px;
	}
}