








<div class="container">
	<div class="banner_cap">
		<div class="page_title">
			<h1>Power of Many</h1>
			<p>VEBA combines school district resources to <span class="color_light_yellow">lower healthcare prices.</span></p>
		</div>
		<a class="button" href="#">Find out how today</a>
	</div><!-- /banner_cap -->
</div>


<section class="banner" style="background-image: url(
	<?php if ( has_post_thumbnail() ) { 
		the_post_thumbnail_url();
	} else { ?>
		<?php echo get_template_directory_uri() . '/images/banner_img1.jpg' ?>
	<?php } ?>
) !important;">

	<div class="container">
		<div class="banner_cap">
			<div class="page_title">
				<h1>Power of Many</h1>
				<p>VEBA combines school district resources to <span class="color_light_yellow">lower healthcare prices.</span></p>
			</div>
			<a class="button" href="#">Find out how today</a>
		</div><!-- /banner_cap -->
	</div>
</section>





Information for you and your Enrollees





<div class="footer_item">
	<div class="footer_title">
		<h2>Join Our Newsletter</h2>
	</div>
<div class="footer_desc">
	<p>Duis aute irure dolor in reprehenderit in volupt cillum dolore eu fugiat nulla pariatur coluntea.</p>

	<div class="join_nsl">
		<form>
			<div class="input_block">
				<input class="input" type="text" name="nsl_email" placeholder="Email address">
				<input class="button" type="submit" name="nsl_submit" value="Subscribe">
			</div>
		</form>
	</div>
</div>
</div>



<div class="footer_item">
	<div class="footer_title">
		<h2>About Veba</h2>
	</div>
	<div class="footer_desc">
	
		<?php wp_nav_menu( array( 'theme_location' =>'footer_menu', 'container' =>'', 'menu_class' =>'footer_menu' ) ); ?>
		
	</div>
</div>






<div class="hch_desc">
	<div class="row">
		<div class="col-sm-4">
			<div class="help_item">
				<div class="help_item_title">
					<h2>I am a <strong>VEBA Member</strong></h2>
				</div>
				<a href="#" class="button">Click Here</a>
			</div>
		</div><!-- /help_item -->

		<div class="col-sm-4">
			<div class="help_item">
				<div class="help_item_title">
					<h2>I am a VEBA School<strong>District Benefit Administrator</strong></h2>
				</div>
				<a href="#" class="button">Click Here</a>
			</div>
		</div><!-- /help_item -->

		<div class="col-sm-4">
			<div class="help_item">
				<div class="help_item_title">
					<h2>Tell me more <strong>about VEBA</strong></h2>
				</div>
				<a href="#" class="button">Click Here</a>
			</div>
		</div><!-- /help_item -->

	</div>
</div>

















<section class="pad_tb100 school_info">
	<div class="container">
		<div class="sch_info_container">
			<div class="veba_sec_title">
				<h1>What Can We do for You Today?</h1>
			</div>

			<div class="veba_sec_desc">
				<div class="sch_asn_docs members_container">
					<div class="row">
						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>EnroLl <strong>Here</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>Kaiser <strong>Members</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>UHC <strong>Members</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>
					</div><!-- /row -->

					<div class="row"><hr></div>

					<div class="row">
						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>When <strong>You Travel</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>How to Get <strong>ID Card</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="help_item">
								<div class="help_item_title">
									<h2>Advocacy <strong>Contact</strong></h2>
								</div>
								<a href="#" class="button">Click Here</a>
							</div>
						</div>
					</div><!-- /row -->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="news_latter_sec">
	<div class="container">
		<div class="intro_desc">
			<p><a href="#">Click here</a> to join the <strong>WELLNESS NEWSLETTER.</strong></p>
		</div>
	</div>
</section><!-- /news_latter_sec -->
















<div class="siderbar">

	<?php get_sidebar(); ?>

	<div class="widget">
		<h2>Events</h2>
<ul class="event_lists">
	<li><a href="#"><strong>Feb 4, 2016</strong> – Dolor sit amet, consectetur adipiscing elit, </a></li>
	<li><a href="#"><strong>Apr 13, 2016</strong> – Ased do eiusmod tempor incididunt </a></li>
	<li><a href="#"><strong>Apr 21, 2016</strong> – Labore et dolore magna aliquat enim ad </a></li>
	<li><a href="#"><strong>Jun 13, 2016</strong> – Quis nostrud exercitation ullamco laboris nisi  </a></li>
</ul>
	</div>

	<div class="widget">
		<div class="sidebar_desc">
			<h2>Text in sidebar</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
		</div>
	</div>

	<div class="widget">
		<div class="sidebar_desc">
			<h2>Contact Veba</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <a href="#">Click here</a></p>
		</div>
	</div>
</div><!-- /siderbar -->











<div class="row">
	<div class="col-sm-4">
		<div class="flyer_item">
			<div class="item_pic">
				<img src="<?php echo get_template_directory_uri();?>/images/flyer_img1.jpg" alt="flyer_img">
			</div>
			<div class="flyer_name">
				<a href="#"><h3>Flyer name appears</h3></a>
			</div>
		</div><!-- /flyer_item -->
	</div>
	<div class="col-sm-4">
		<div class="flyer_item">
			<div class="item_pic">
				<img src="<?php echo get_template_directory_uri();?>/images/flyer_img1.jpg" alt="flyer_img">
			</div>
			<div class="flyer_name">
				<a href="#"><h3>Flyer name appears</h3></a>
			</div>
		</div><!-- /flyer_item -->
	</div>
	<div class="col-sm-4">
		<div class="flyer_item">
			<div class="item_pic">
				<img src="<?php echo get_template_directory_uri();?>/images/flyer_img1.jpg" alt="flyer_img">
			</div>
			<div class="flyer_name">
				<a href="#"><h3>Flyer name appears</h3></a>
			</div>
		</div><!-- /flyer_item -->
	</div>
</div><!-- /row -->
















<div class="col-sm-8">
	<div class="sch_asn_docs">
		<div class="row">
			<div class="col-sm-6">
				<div class="help_item">
					<div class="help_item_title">
						<h2>Informational<strong>flyers</strong></h2>
					</div>
					<a href="#" class="button">Click Here <i class="fa fa-lock" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="help_item unlock_event">
					<div class="help_item_title">
						<h2>Upcoming <strong>Events</strong></h2>
					</div>
					<a href="#" class="button">Click Here <i class="fa fa-lock" aria-hidden="true"></i></a>
				</div>
			</div>
		</div><!-- /row -->

		<div class="row"><hr></div>

		<div class="row">
			<div class="col-sm-6">
				<div class="help_item">
					<div class="help_item_title">
						<h2>Informational<strong>flyers</strong></h2>
					</div>
					<a href="#" class="button">Click Here <i class="fa fa-lock" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="help_item">
					<div class="help_item_title">
						<h2>Upcoming <strong>Events</strong></h2>
					</div>
					<a href="#" class="button">Click Here <i class="fa fa-lock" aria-hidden="true"></i></a>
				</div>
			</div>
		</div><!-- /row -->
	</div>
</div>

























<section class="about_block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_veba_board.png" alt="icon">
					</div>
					<a href="#"><h1>Lower <br> pricing</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block -->

<section class="about_block row_rtl">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_marketing_sheet.png" alt="icon">
					</div>
					<a href="#"><h1>Easier <br>to join</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block/row_rtl -->

<section class="about_block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_trust_document.png" alt="icon">
					</div>
					<a href="#"><h1>Improved Quality</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block -->

<section class="about_block row_rtl">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_contact.png" alt="icon">
					</div>
					<a href="#"><h1>Ongoing support</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block/row_rtl -->


























<section class="about_block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php the_field('section_1_icon'); ?>" alt="icon">
					</div>
					<!-- <h1>Veba<br> Board </h1> -->
					<h1><?php the_field('section_1_title'); ?></h1>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block -->

<section class="about_block row_rtl">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_marketing_sheet.png" alt="icon">
					</div>
					<a href="/marketing-sheets/"><h1>Marketing Sheets</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block/row_rtl -->

<section class="about_block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_trust_document.png" alt="icon">
					</div>
					<a href="/trust-documents/"><h1>Trust Documents</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block -->

<section class="about_block row_rtl">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="about_block_title">
					<div class="sec_icon">
						<img src="<?php echo get_template_directory_uri();?>/images/icon_contact.png" alt="icon">
					</div>
					<a href="/contact/"><h1>Contact Veba</h1></a>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="about_block_desc">
					<div class="post_title">
						<h2><strong>lorem ipsum dolor Quis</strong> autem vel eum iure reprehenderit </h2>
					</div>
					<div class="post_desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi quis nostrud exercitation ullamco laboris nisi ut aliquip e commodo </p>
						<a href="#" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /about_block/row_rtl -->



<div class="footer_item">
	<div class="footer_title">
		<h2>Office</h2>
	</div>
	<div class="footer_desc">
		<p>
<span>8885 Rio San Diego Dr, San Diego, CA 92108</span><br> 
<span>Phone (619) 278-0021, Fax (619) 278-0021</span>
		</p>

<div class="add_map">
	<img src="<?php echo get_template_directory_uri();?>/images/footer_map_bg.jpg" alt="map">
	<img src="http://veba.dev/wp-content/uploads/2017/05/footer_map_bg-1.jpg" alt="map">
</div>
	</div>
</div>
					

<div class="footer_title">
	<h2>Veba Results</h2>
</div>
<div class="footer_desc"><p>More than 60 school districts and over 120,000 members, VEBA pools school district resources to create a larger group of participants. </p></div>


<div class="contact_form">
	<form>
		<div class="row">
			<div class="col-sm-7">
				<div class="input_block">
					<label>First Name <span class="req_clr">*</span></label>
					<input type="text" name="first_name">
				</div>
			</div>
			<div class="col-sm-5">
				<div class="input_block">
					<label>Last Name <span class="req_clr">*</span></label>
					<input type="text" name="last_name">
				</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-sm-7">
				<div class="input_block">
					<label>Email <span class="req_clr">*</span></label>
					<input type="email" name="email">
				</div>
			</div>
			<div class="col-sm-5">
				<div class="input_block">
					<label>Subject <span class="req_clr">*</span></label>
					<input type="text" name="subject">
				</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="input_block">
					<label>Comments <span class="req_clr">*</span></label>
					<textarea cols="10" rows="5" name="comments"></textarea>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input_block">
					<label>What is thirteen minus 4 <span class="req_clr">*</span></label>
					<input type="text" name="cap_rslt">
				</div>
			</div>
		</div><!-- /row -->
		<div class="input_block">
			<input type="submit" class="button" name="btn_send" value="Send">
		</div>
	</form>
</div>


<div class="contact_form">
	<form>
		<div class="row">
			<div class="col-sm-7">
				<div class="input_block"><label>First Name <span class="req_clr">*</span></label>[text* first_name]</div>
			</div>
			<div class="col-sm-5">
				<div class="input_block"><label>Last Name <span class="req_clr">*</span></label>[text* last_name]</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-sm-7">
				<div class="input_block"><label>Email <span class="req_clr">*</span></label>[email* contact_email]</div>
			</div>
			<div class="col-sm-5">
				<div class="input_block"><label>Subject <span class="req_clr">*</span></label>[text* subject]</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="input_block"><label>Comments <span class="req_clr">*</span></label>[textarea* comments]</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="input_block"><label>What is thirteen minus 4 <span class="req_clr">*</span></label>[text* cap_rslt]</div>
			</div>
		</div><!-- /row -->
		<div class="input_block">[submit id:btn_send class:button "Send"]</div>
	</form>
</div>

















Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.