/*
Theme Name: veba
Theme URI: diehardcoder.com
Author: Frank Geraci
Author URI: webbege.com
Description: Description
Version: 1.0.0
Text Domain: veba
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

veba is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	/*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);*/
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------- Main Styles ---------------------*/
/** Common & Reset style **/
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	background: #f5f5f5;
	font-family: 'proxima_nova_rgregular', 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #515151;
	line-height: normal;
}


*, *:after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* comon style */
h1, h2, h3, h4, h5, h6{
	font-family: 'proxima_nova_rgregular', sans-serif;
	margin: 0 0 16px;
	line-height: 1;
	font-weight: normal;
}

a{
	color: inherit;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
	    -ms-transition: all 0.3s ease-in-out 0s;
	     -o-transition: all 0.3s ease-in-out 0s;
		    transition: all 0.3s ease-in-out 0s;
}

a:active,
a:focus,
a:hover{
	outline: 0;
	color: #9fbb58;
	text-decoration: none;
}

ul li,
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

h1{
	font-family: "proxima_novathin";
    font-size: 78px;
    font-weight: normal;
    line-height: 70px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h2{
	font-family: 'proxima_novalight';
	font-size: 30px;
	line-height: 1.3;
	font-weight: normal;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 20px;
}

p{
	font-family: 'proxima_nova_rgregular';
	font-size: 18px;
	line-height: 1.5;
	font-weight: normal;
	margin-bottom: 20px;
}

img{
	max-width: 100%;
}

.form-group{
	position: relative;
	background: none;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
}

button{
	border: none;
}

label{
	font-weight: normal;
	display: block;
}

textarea, select, input{
	font-family: 'proxima_nova_rgregular';
	background: #fff;
	border: 1px solid #fff;
	border-radius: 0;
	height: 40px;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	padding: 8px 10px;
	box-shadow: none;
	font-size: 20px;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
}
textarea{
	height: auto;
	min-height: 100px;
}

textarea:focus, select:focus, input:focus{
	border-color: #65972c;
	outline: none;
	box-shadow: none;
}

input[type="submit"],
.button{
	font-family: 'proxima_nova_rgregular';
	background: #9fbb58;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 300;
	text-align: center;
	padding: 10px 15px;
	border-radius: 0;
	border: none;
	height: 40px;
	box-shadow: none;
	width: auto;
	min-width: auto;
	text-transform: uppercase;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover{
	background: #65972c;
	color: #fff;
	outline: none;
	box-shadow: none;
}

input[type="checkbox"], 
input[type="radio"] {
	box-sizing: border-box;
	display: inline-block;
	padding: 0;
	vertical-align: baseline;
	width: auto;
	height: auto;
	margin: 2px 5px 0 0;
	outline: none;
}
input[type="file"]{
	border: none;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="file"]:active,
input[type="checkbox"]:active, 
input[type="radio"]:active,
input[type="file"]:focus,
input[type="checkbox"]:focus, 
input[type="radio"]:focus{
	outline: none;
}


::-webkit-input-placeholder { color: #b8b0b0; opacity: 1; }
:-moz-placeholder { color: #b8b0b0; opacity: 1; }
::-moz-placeholder { color: #b8b0b0; opacity: 1; }
:-ms-input-placeholder { color: #b8b0b0; opacity: 1; } 

/** select **/
select{
	background: url(images/select_arrow2.png) no-repeat center right #fff;
	padding-right: 38px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
select option{
	padding: 5px 10px;
}


/** custom checkbox **/
.custom_checkbox{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.custom_checkbox [type="checkbox"]:not(:checked),
.custom_checkbox [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
	outline: none !important;
}
.custom_checkbox [type="checkbox"]:not(:checked) + label,
.custom_checkbox [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}
.custom_checkbox [type="checkbox"]:checked + label{
	color: #65972c;
}

/* checkbox aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:before,
.custom_checkbox [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 0px;
	width: 20px; height: 20px;
	border: 1px solid #d8d8d8;
	background: #eee;
	border-radius: 3px;
	box-shadow: none;
	outline: none !important;
}
.custom_checkbox [type="checkbox"]:checked + label:before {
	background: #65972c;
	border-color: #65972c;
}

/* checked mark aspect */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after,
.custom_checkbox [type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 2px; left: 3px;
	font-size: 20px;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	outline: none !important;
}

/* checked mark aspect changes */
.custom_checkbox [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom_checkbox [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

/* disabled checkbox */
.custom_checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.custom_checkbox [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom_checkbox [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.custom_checkbox [type="checkbox"]:disabled + label {
	color: #aaa;
}

/* accessibility */
.custom_checkbox [type="checkbox"]:checked:focus + label:before,
.custom_checkbox [type="checkbox"]:not(:checked):focus + label:before {
	border-color: #65972c;
}

/* hover style just for information */
.custom_checkbox label:hover:before {
	border: 1px solid #4778d9!important;
}

/** input file **/
.btn_file{
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.inputfile{
	cursor: pointer;
    height: 80%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}



/*** To start style ***/
.container{
	position: relative;
	max-width: 1120px;
}

.sec_block:after,
.sec_block:before,
.wrap:after,
.wrap:before,
section:after,
section:before,
header:after,
header:before,
footer:before,
footer:after{
	content: "";
	clear: both;
	display: table;
}

.sec_block,
section,
header,
footer{
	display: block;
	clear: both;
}

/** header **/
#header{
	position: relative;
	background: none;
}

.head{
	position: relative;
	display: inline-block;
	width: 100%;
	background: #fff;
	height: 130px;
	padding: 20px 0;
}

.head .logo{
	display: block;
	float: left;
	width: 100%;
	max-width: 400px;
}
.head .logo a{
	display: block;
}
.head .logo a img{
	display: block;
	max-width: 100%;
}

/** login_access **/
.login_access{
	display: inline-block;
	padding: 30px 0 20px;
	text-align: right;
	float: right;
}

.login_access .veba_login{
	background: url(images/login_bg.png) no-repeat right top #9fbb58;
	font-family: 'proxima_nova_rgregular', sans-serif;
	display: block;
	height: 35px;
	width: 280px;
	text-align: center;
	padding: 10px 40px 10px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	line-height: 1;
}
.login_access .veba_login:hover{
	background-color: #65972c;
}

/** sticky-menu **/
#sticky-wrapper{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 1000;
}

.is-sticky .main_menu{
	background: rgba(113, 128, 135, 0.8);
}

/** main_menu **/
.main_menu{
	background: rgba(113, 128, 135, 0.7);
	position: relative;
	width: 100%;
	color: #fff;
	text-align: center;
	z-index: 100;

	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.main_menu .navbar-collapse{
	padding: 0;
}
.main_menu .navbar{
	margin-bottom: 0;
	background: none;
    border: medium none;
    border-radius: 0;
    text-align: center;
    min-height: 30px;
}
.main_menu .navbar .nav{
	float: none;
}
.main_menu .navbar-nav > li{
	float: left;
	display: inline-block;
	margin-right: 1px;
}
.main_menu .navbar-nav > li:last-child{
	margin-right: 0;
}
.main_menu .navbar-default .navbar-nav > li > a{
	font-family: 'proxima_nova_rgregular';
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	padding: 20px 32px;
}

.main_menu ul.navbar-nav li .sub-menu a:hover,
.main_menu ul.navbar-nav li .sub-menu li.current-menu-item > a,
.main_menu .navbar-default .navbar-nav > li.current-menu-item > a,
.main_menu .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	background: #9fbb58;
}

.main_menu ul.navbar-nav li.menu-item-has-children > a{
	position: relative;
}
.main_menu ul.navbar-nav li.menu-item-has-children > a:before{
	content: " ";
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
	vertical-align: middle;
	margin: 2px 5px 0 0;
	display: inline-block;
}


/** submenu **/
.main_menu ul.navbar-nav li .sub-menu,
.main_menu ul.navbar-nav li ul{
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 5px 0 5px;
    position: absolute;
    top: 70px;
    visibility: hidden;
    width: 200px;
    z-index: 100;
    text-align: left;

    -webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	-ms-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}
.main_menu ul.navbar-nav li:hover .sub-menu,
.main_menu ul.navbar-nav li:hover ul{
	background: #fff none repeat scroll 0 0;
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.main_menu ul.navbar-nav li .sub-menu a,
.main_menu ul.navbar-nav li ul a{
	display: block;
	padding: 10px 15px;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	color: #484848;
	text-transform: uppercase;
}

.flexslider{
    border:none !important;
    margin:0px !important;
    box-shadow:none !important;
}
 .flexslider ul, .flexslider ul li{
    margin: 0;
    list-style-type: none;
 }

/** banner **/
.banner{
	background-image: url(images/banner_img1.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	min-height: 320px;
	position: relative;
	width: 100%;
	padding: 100px 0 100px;
}

.banner.banner-sm{
	min-height: 280px;
	padding: 70px 0 40px;
}
.banner.banner-sm .banner_cap{
	min-height: 170px;
}

.banner_cap{
	display: inline-block;
	width: auto;
	max-width: 580px;
	/*min-height: 220px;*/
	background: rgba(0, 108, 170, 0.9);
	color: #fff;
	margin-top: 70px;
	margin-bottom: 40px;
	padding: 50px 30px 40px 40px;
}

.page_title{
	display: inline-block;
	width: 100%;
}

.page_title h1{
	margin-bottom:  5px;
	font-family: 'proxima_novathin';
	font-weight: normal;
	font-size: 78px;
	line-height: 70px;
	text-transform: uppercase;
}
.page_title p{
	font-family: 'proxima_novathin';
	font-weight: normal;
	font-size: 23px;
	line-height: 1.2;
	text-transform: uppercase;
}
.page_title p span{
	display: inline-block;
	vertical-align: middle;
}
.color_light_yellow{
	color: #ffd800;
}
.banner_cap .button{
	width: 100%;
	max-width: 330px;
}


/** error-404 page **/
.error-404{
	margin-bottom: 50px;
	text-align: center;
}
.error-404 h1{
	text-align: center;
	font-size: 44px;
}

.search_404{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 50px 0 30px;
}
.search_404 .search-form{
	display: inline-block;
	width: 100%;
	max-width: 500px;
	position: relative;
	padding-right: 128px;
}
.search_404 .search-form label{
	display: block;
	margin-bottom: 0;
}
.search_404 .search-form input{
	margin-bottom: 0;
	font-size: 18px;
}
.search_404 .search-form .search-field{
	border: 2px solid #9fbb58;
	width: 100%;
}
.search_404 .search-form .search-submit{
	border: 2px solid #9fbb58;
	width: 130px;
	position: absolute;
	right: 0;
	top: 0;
}

/** Search Page **/
.search_content{
	position: relative;
	margin-bottom: 50px;
}

.search_content h2.page-title{
	font-size: 44px;
}

.search_content h2.entry-title{
	margin-bottom: 0;
}

.search_block{
	display: inline-block;
	width: 100%;
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}
.search_block .hentry{
	margin: 0;
}

.search_content .page-title span{
	color: #9fbb58;
}
.search_content .page-header{
	margin-bottom: 0;
	border: none;
}

/** content style **/
.pad_tb100{
	padding-top: 100px;
	padding-bottom: 100px;
}
.pad_t100{
	padding-top: 100px;
}
.pad_b100{
	padding-bottom: 100px;
}

.pad_tb50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pad_t50{
	padding-top: 50px;
}
.pad_b50{
	padding-bottom: 50px;
}

.sec_desc{
	display: inline-block;
	width: 100%;
}
.sec_desc h1,
.sec_desc h2{
	color: #5ba4e5;
}

.text_cap{
	text-transform: capitalize !important;
}
.text_upper{
	text-transform: uppercase !important;
}
.text_normal{
	text-transform: none !important;
}


/** front page **/
.hc_help{
	background: #fff;
	text-align: center;
}

.hch_title{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #c6cccf;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.hch_title h1,
.hch_title h2{
	font-family: 'proxima_novalight';
	font-size: 48px;
	line-height: 1.2;
	margin-bottom: 5px;
	color: #5ba4e5;
	text-transform: none;
}

.hch_desc{
	display: inline-block;
	width: 100%;
	position: relative;
}

.hch_desc .col-sm-4{
	border-right: 1px solid #c6cccf;
}

.hch_desc .col-sm-4:last-child{
	border-right: none;
}
.help_item{
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	max-width: 300px;
}
.unlock_event .button i{
	display: none;
}
.help_item .help_item_title{
	height: 150px;
	display: table;
	text-align: center;
	width: 100%;
	color: #5ba4e5;
}
.help_item .help_item_title h2{
	font-family: 'proxima_novalight';
	margin-bottom: 0;
	line-height: 1.2;
	vertical-align: middle;
	display: table-cell;
}

.help_item_title h2 strong{
	font-family: 'proxima_nova_rgbold';
	display: block;
	font-weight: normal;
}

.help_item .button{
	width: 100%;
	max-width: 270px;
}

.help_item .button i{
	margin-left: 10px;
}

.testimonial{
	position: relative;
	background: #f8f6e8;
	color: #5d5d5d;	
}
.testimonial .tsm_desc{
	padding: 0 40px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.testimonial .tsm_desc p,
.testimonial .tsm_desc{
	font-family: 'karminaitalic';
	font-size: 30px;
	line-height: 1.3;
	margin-bottom: 0;
}
.testimonial .author_name{
	display: inline-block;
	font-style: normal;
	font-family: 'proxima_novasemibold';
	font-weight: normal;
	font-size: 18px;
	line-height: 1.5;
	text-transform: uppercase;
	margin: 5px 0
}


.owl-nav{
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 10;
}
.owl-nav .owl-next,
.owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    line-height: 40px;
    border: 1px solid #718087;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    color: #718087;
    background: #fff;

    -webkit-transition: all 0.5s ease-in-out 0s;
       -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
         -o-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
}
.owl-nav .owl-next{
    right: 0;
    left: auto;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover{
    border-color: #65972c;
    color: #65972c;
}


/** about page **/
.intro_sec{
	background: #9fbb58;
	position: relative;
	padding: 30px 0;
	color: #fff;
}

.intro_sec span,
.intro_sec p{
	text-align: center;
	font-family: 'proxima_novalight';
	display: block;
	margin: 0;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 1.2;
	font-weight: normal;
}

.intro_sec span strong,
.intro_sec p strong{
	font-family: 'proxima_novasemibold';
	font-weight: normal;
}

.intro_sec span a,
.intro_sec p a{
	text-decoration: underline;
	color: #fff;
}
.intro_sec span a:hover,
.intro_sec p a:hover{
	color: #718087;
}

/** news_latter_sec **/
.news_latter_sec{
	background: #5ba4e5;
	position: relative;
	padding: 70px 0;
	color: #fff;
}

.news_latter_sec span,
.news_latter_sec p{
	text-align: center;
	font-family: 'proxima_novalight';
	display: block;
	margin: 0;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 1.2;
	font-weight: normal;
}

.news_latter_sec span strong,
.news_latter_sec p strong{
	font-family: 'proxima_novasemibold';
	font-weight: normal;
}

.news_latter_sec span a,
.news_latter_sec p a{
	text-decoration: underline;
	color: #fff;
}
.news_latter_sec span a:hover,
.news_latter_sec p a:hover{
	color: #718087;
}


/** about_block **/
.about_block{
	background: #fff;
	padding: 40px 0;
}
.about_block.row_rtl{
	background: #f8f6e8;
}

.about_block .col-md-5{
	border-right: 1px solid #c6cccf;
}
.about_block.row_rtl .col-md-5{
	border-right: none;
	border-left: 1px solid #c6cccf;
	float: right;
}

.about_block_title{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 50px 5px 50px;
}
.about_block_title .sec_icon{
	display: inline-block;
	margin-bottom: 15px;
}
.about_block_title a,
.about_block_title h1{
	font-size: 70px;
	line-height: 1;
	color: #5ba4e5;
	margin-bottom: 0;
	display: block;
}

.about_block_desc{
	display: inline-block;
	width: 100%;
	text-align: left;
	padding-left: 50px;
	padding-top: 70px;
	max-width: 570px;
}
.about_block.row_rtl .about_block_desc{
	padding-left: 0;
}

.post_title{
	display: inline-block;
	width: 100%;
	color: #5ba4e5;
	margin-bottom: 20px;
}
.post_title h2{
	margin-bottom: 0;
}
.post_title h2 strong{
	font-family: 'proxima_nova_rgbold';
	font-weight: normal;
}
.post_desc{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.post_desc p{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 25px;
}
.post_desc .button{
	width: 100%;
	max-width: 270px;
}


#defference_page .about_block{
	padding: 90px 0;
} 

/** school dist info page **/
.veba_sec_title{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #c6cccf;
	padding-bottom: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.veba_sec_title.bdr_none{
	border-bottom: none;
	text-align: left;
	margin-bottom: 0;
}
.veba_sec_title h1,
.veba_sec_title h2{
	font-family: 'proxima_novalight';
	font-size: 48px;
	line-height: 1;
	margin-bottom: 5px;
	color: #5ba4e5;
	text-transform: none;
}

.veba_sec_desc{
	display: inline-block;
	width: 100%;
	position: relative;
}

.veba_sec_desc .col-sm-4{
	border-right: 1px solid #c6cccf;
}
.veba_sec_desc .col-sm-4:last-child{
	border-right: none;
}

.school_sidebar{
	background: #5ba4e5;
	color: #fff;
	max-width: 	280px;
	padding: 30px 10px;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.school_login{
	display: inline-block;
	position: relative;
	width: 210px;
	text-align: left;
}

.school_login h2{
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 25px;
	text-align: left;
	font-weight: bold;
}
.school_login .widget{
	margin-bottom: 0;
}
.input_block{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.school_login .input_block input{
	margin-bottom: 5px;
	height: 44px;
	padding: 10px;
}
.input_block label{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	margin-bottom: 5px;
}

.school_login .button,
.school_login input[type="submit"]{
	width: 100%;
	border: 1px solid #fff;
	height: 48px;
	padding-top: 13px;
}
.school_login a{
	display: block;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
}
.school_login a:hover{
	text-decoration: underline;
}

.wpcf7-not-valid-tip{
	display: block;
	width: 100%;
	padding: 5px;
	line-height: 1.3;
	background: #FFBABA;
	color: #D8000C;
	text-align: left;
}

/** sch_asn_docs **/
.sch_asn_docs{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.sch_asn_docs hr{
	background-color: #c6cccf;
	margin: 45px 0;
}

hr{
	background-color: #c6cccf;
}

.members_container .col-sm-4:first-child,
.veba_sec_desc .col-sm-4{
	border: none;
}

.members_container .col-sm-4,
.sch_asn_docs .col-sm-6{
	border-left: 1px solid #c6cccf;
}

/** sidebar **/
.widget{
	display: inline-block;
	width: 100%;
	margin: 15px 0 20px;
	padding: 0;
}
.widget ul,
.widget .sidebar_desc{
	padding: 0;
	margin: 0;
}
.widget ul li{
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.8;
	color: #545454;
}
.widget ul li a:hover{
	color: #006caa;
}

.sidebar .widget h2.widget-title,
.contact_sidebar .widget h2,
.sidebar .widget h2,
.sidebar .widget .sidebar_desc h2{
	font-family: 'proxima_nova_rgregular';
	color: #65972c;
	font-size: 26px;
	line-height: 1.2;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: normal;
}

.sidebar .textwidget,
.sidebar .widget p,
.sidebar_desc p,
.sidebar_desc{
	font-size: 16px;
	line-height: 1.8;
	color: #545454;
}

a.sidebar_link,
.sidebar_desc a{
	font-family: 'proxima_novasemibold';
	text-transform: uppercase;
	text-decoration: underline;
	color: #65972c;
	font-weight: normal;
	display: inline-block;
}
a.sidebar_link:hover,
.sidebar_desc a:hover{
	text-decoration: none;
}

/** Contact Page **/
.sidebar,
.contact_sidebar{
	position: relative;
	border-left: 1px solid #c6cccf;
	padding-left: 20px;
}

.contact_content h1{
	color: #5ba4e5;
    font-family: "proxima_novalight";
    font-size: 48px;
    line-height: 1;
    text-transform: none;
    margin-bottom: 30px;
}

.contact_form{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-right: 50px;
}

.req_clr{
	color: #ff2300;
	vertical-align: top;
}

.contact_form label{
	text-transform: capitalize;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 10px;
}
.contact_form textarea,
.contact_form input{
	border-color: #d5d5d5;
	border-radius: 4px;
	margin-bottom: 10px;
}
.contact_form textarea:focus,
.contact_form input:focus{
	border-color: #008ad6;
}
.contact_form input[type="submit"]{
	background: #008ad6;
	padding-right: 30px;
	padding-left: 30px;
}
.contact_form input[type="submit"]:hover{
	background: #65972c;
}
.contact_form p{
	margin: 0;
	padding: 0;
}



/** about veba page **/
.post_content{
	padding-top: 20px;
}
.post_content > .sec_desc{
	padding-right: 50px;
}
.post_content > .sec_desc a{
	text-decoration: underline;
	color: #006caa;
}
.post_content > .sec_desc a:hover{
	text-decoration: none;
}

/** sec_menu **/
.sec_menu{
	position: relative;
	display: block;
	width: 100%;
	background: #006caa;
	color: #fff;
}

.sec_menu_list{
	
}
.sec_menu_list ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.sec_menu_list ul li{
	float: left;
	position: relative;
	padding-right: 15px;
}
.sec_menu_list ul li:after{
	content: "//";
	clear: both;
	position: absolute;
	font-size: 18px;
	line-height: 1;
	top: 22px;
	right: 1px;
}
.sec_menu_list ul li:last-child:after{
	display: none;
	content: " ";
}

.sec_menu_list ul li a{
	font-family: 'proxima_nova_rgregular';
	display: block;
	color: #fff;
	font-size: 17px;
	line-height: 1.2;
	padding: 20px;
	text-transform: uppercase;
}

.sec_menu_list ul li.active a,
.sec_menu_list ul li a:hover{
	text-decoration: underline;
}


/** informational_flyers **/
.informational_flyers{
	position: relative;
}


.info_flyer_content{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}
.info_flyer_content .col-sm-4{
	border-right: 1px solid #c6cccf;
	margin-bottom: 50px;
}
.info_flyer_content .col-sm-4:last-child{
	border-right: none;
}

.flyer_item{
	display: block;
	width: 100%;
	max-width: 205px;
	margin: 0 auto;
}
.flyer_item .item_pic{
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.flyer_item .item_pic img{
	display: block;
	width: 100%;
}

.flyer_name{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 10px;
	background: #9fbb58;
	color: #fff;
}

.flyer_name h3,
.flyer_name span,
.flyer_name{
	display: block;
	margin: 0;
	font-size: 21px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	font-family: 'proxima_novalight';
}

.main_navigation_space{
	clear: both;
	display: block;
	width: 100%;
	height: 60px;
	margin-bottom: 30px;
}

.post-navigation{
	margin-bottom: 20px;
}
.post_img{
	display: inline-block;
	padding: 0 10px 10px 0;
	float: left;
}
.post_img img{
	display: block;
}

.post_title{
	color: #5ba4e5;
	font-size: 50px;
	text-transform: capitalize;
}
.veba_page_title{
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}
.veba_page_title h1{
	font-size: 50px;
	line-height: 1;
	color: #5ba4e5;
	text-transform: capitalize;
}

.page_dft_content{
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
}


.display_flex{
    display: flex;
    flex-wrap: wrap;
}

/** footer **/
.footer{
	background: #718087;
	color: #fff;
	position: relative;
	padding: 60px 0 20px;
	text-align: center;
}

.footer_item{
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 500px;
	text-align: left;
	margin: 0 auto 40px;
}
.footer_title{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.footer_title h2{
	font-family: 'proxima_nova_rgregular';
	margin-bottom: 0;
	font-size: 22px;
}

.footer_item .footer_desc{
	display: inline-block;
	width: 100%;
}

.es_caption,
.footer_desc,
.footer_desc a,
.footer_desc li,
.footer_desc p{
	font-family: 'karminaregular';
	font-size: 17px;
	line-height: 1.7;
}

.footer_item .button,
.footer_item .input{
	height: 44px;
	padding-top: 12px;
}

.footer_item .es_submit_button,
.footer_item .button{
	width: 170px;
	max-width: 100%;
	height: 44px;
	background: #9fbb58;
	border-color: #9fbb58;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	padding: 12px 15px 10px;

	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
	    -ms-transition: all 0.3s ease-in-out 0s;
	     -o-transition: all 0.3s ease-in-out 0s;
		    transition: all 0.3s ease-in-out 0s;
}

.footer_item .es_submit_button:hover,
.footer_item .button:hover{
	background: #65972c;
	border-color: #65972c;
}


.footer_item .es_textbox,
.footer_item .es_button{
	padding: 0;
	margin: 0;
}
.footer_item .es_textbox_class{
	width: 100%;
}

.add_map{
	display: inline-block;
	width: 100%;
}
.add_map img,
.add_map iframe{
	display: block;
	width: 100% !important;
	height: auto;
}

#menu-footer-menu li{
	margin: 0;
}
#menu-footer-menu li a{
	display: block;
	color: #fff;
	font-family: 'karminaregular';
	font-size: 17px;
	line-height: 1.7;
}
#menu-footer-menu li a:hover{
	color: #9fbb58;
}

.footer_title h2 {
	font-family: "proxima_nova_rgregular";
	font-size: 22px;
	margin-bottom: 0;
	color: #fff;
}

.footer_item .textwidget p,
.footer_item .textwidget{
	color: #fff;
    font-family: "karminaregular";
    font-size: 17px;
    line-height: 1.7;
}


/** homeSlider **/
.home_slider{
	position: relative;
	display: block;
	width: 100%;
}
.home_slider .banner_cap{
	margin-bottom: 70px;
}
#homeSlider .item{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 570px;
	position: relative;
	padding-top: 70px;
	height: auto;
}
#homeSlider .owl-nav .owl-next, 
#homeSlider .owl-nav .owl-prev{
	background: none;
	border: none;
	font-size: 50px;
}